{% extends 'base.html.twig' %}

{% block title %}Fil d'actualité{% endblock %}

{% block body %}



    <section class="post">
        {% for post in posts %}
        <post>
            <h2>{{ post.title }}</h2>
            <div class="metadata">
                Ecrit par {{ post.user.username }} le {{ post.date | date('d/m/y')}} à {{ post.date | date('H:i') }} dans la catégorie {{ post.category.title }}
            </div>
            <div class="content">
                <br>
                {{ post.content | raw}}
                <br>
                <p>Lien pour télécharger : <a href="{{ post.link }}">{{ post.link }}</a></p>
                <br>
                <a href="{{ path('post_show', {'id': post.id}) }}" class="btn btn-primary">Lire la suite</a>
            </div>
        </post>
            <br>
            <br>
        {% endfor %}
    </section>
{% endblock %}
