{% extends 'base.html.twig' %}

{% block body %}
    <post>
        <h2>{{ post.title }}</h2>
        <br>
        <div class="metadata">
            Ecrit le {{ post.date | date('d/m/Y') }} à {{ post.date | date('H:i') }} dans la catégorie {{ post.category.title }}
        </div>
        <br>
        <div class="content">
            <p>Lien pour télécharger : <a href="{{ post.link }}">{{ post.link }}</a></p>
            {{ post.content | raw }}
        </div>
        <br>
        <br>
    </post>

    <section id="commentaires">
        <h1>{{ post.comments | length }} commentaires :</h1>
        <br>
        {% for comment in post.comments %}
        <div class="comment">
            <div class="row">
                <div class="col-3">
                    {{ comment.author }} (<small>{{ comment.date | date('d/m/Y à H:i')}}</small>)
                </div>
                <div class="col">
                    {{ comment.content | raw }}
                </div>
            </div>
            <br>
        </div>
        {% endfor %}

        {% if app.user %}
        {{ form_start(commentForm) }}
        {{ form_row(commentForm.content, {'label': 'Commentaire : ', 'attr': {'placeholder': "Votre commentaire"}}) }}
        <button type="submit" class="btn btn-success">Commenter</button>
        {{ form_end(commentForm) }}
        {% else %}
            <h2>Connectez-vous pour commenter !</h2>
            <a href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a>
        {% endif %}
    </section>
{% endblock %}