{% extends 'base.html.twig' %}
{% block body %}
    <h1>Modifiez vos informations personnelles</h1>
    <br>
    {{ form_start(form) }}
    {{ form_row(form.username, {'label': 'Nom d\'utilisateur : ','attr': {'placeholder': '-->Nom d\'utilisateur'}}) }}
    <br>
    {{ form_row(form.password, {'label': 'Mot de passe : ', 'attr': {'placeholder': '-->Nouveau mot de passe'}}) }}
    <br>
    {{ form_row(form.confirm_password, {'label': 'Confirmez votre mot de passe : ', 'attr': {'placeholder': '-->Répétez votre nouveau mot de passe'}}) }}
    <br>
    <button type="submit" class="btn btn-success">Modifier votre profil</button>
    {{ form_end(form) }}
{% endblock %}