{% extends 'base.html.twig' %}

{% block title %}Profile {% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <link rel="stylesheet" href="{{ asset('css/profile.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock %}

{% block body %}
    {% if app.user %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div id="content" class="content content-full-width">
                    <div class="profile">
                        <div class="profile-header bg-dark">
                            <div class="profile-header-cover"></div>

                            <div class="profile-header-content">

                                <div class="profile-header-info">
                                    <h4 class="m-t-10 m-b-5">{{app.user.username}}</h4>
                                    <br><a href="{{path('profil_edit', {'id': app.user.id})}}" class="btn btn-sm btn-info mb-2">Modifier vos informations</a>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="profile-content">
                        <div class="tab-content p-0">
                            <div class="tab-pane fade active show" id="profile-post">
                                <ul class="timeline">
                                    {% for post in posts %}
                                    <li>
                                        <div class="timeline-time">
                                            <span class="date">{{ post.date | date('d/m/y')}}</span>
                                            <span class="time">{{ post.date | date('H:i') }}</span>
                                        </div>
                                        <div class="timeline-icon">
                                            <a href="javascript:;">&nbsp;</a>
                                        </div>
                                        <div class="timeline-body">
                                            <div class="timeline-header">
                                                <span class="username"><a href="javascript:;">{{ post.user.username }}</a> <small></small></span>
                                                <span class="pull-right text-muted">100 downloads</span>
                                            </div>
                                            <div class="timeline-content">
                                                <p class="lead">
                                                    {{ post.content | raw}}
                                                </p>
                                                <br>
                                                <p>Lien pour télécharger : <a href="{{ post.link }}">{{ post.link }}</a></p>
                                            </div>
                                            <div class="timeline-likes">
                                                <div class="stats-right">
                                                    <span class="stats-text">{{ post.comments | length }} Commentaire{% if (post.comments | length) > 1 %}s{% endif %}
                                                    </span>
                                                </div>
                                                <a href="{{ path('post_show', {'id': post.id}) }}" class="btn btn-primary">Lire la suite</a><a href="{{ path('post_edit', {'id': post.id}) }}" class="btn btn-primary">Modifier le post</a>
                                            </div>
                                        </div>
                                    </li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% else %}
        <h1>Connectez-vous pour avoir accès à votre profil !</h1>
        <a href="{{ path('security_login') }}" class="btn btn-primary">Connexion</a>
    {% endif %}

{% endblock %}